name: Ruby

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}/Rails ${{ matrix.rails }}
    strategy:
      matrix:
        ruby:  ['3.2', '3.3', '3.4']
        rails: ['7.0', '7.1', '7.2', '8.0', '8.1']
        exclude:
          # Rails < 7.2 is incompat with Ruby 3.3+
          - { ruby: '3.3', rails: '7.0' }
          - { ruby: '3.3', rails: '7.1' }
          - { ruby: '3.4', rails: '7.0' }
          - { ruby: '3.4', rails: '7.1' }
      fail-fast: false # applies to matrix
    continue-on-error: true # applies to job

    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/rails-${{ matrix.rails }}/Gemfile

    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Start texd container
      run: |
        docker run --rm -d --name texd-dev \
          -p 2201:2201 \
          -e HOME=/tmp \
          -v $(mktemp -d):/texd \
          -v $(mktemp -d):/refs \
          --user=$(id -u):$(id -g) \
            ghcr.io/digineo/texd --reference-store dir:///refs

        until curl -fs -o/dev/null http://localhost:2201/status; do sleep 2; echo waiting for texd; done

    - name: Run rspec
      run: bundle exec rake spec

  lint:
    runs-on: ubuntu-latest
    name: Rubocop

    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.2" # minimal supported version
        bundler-cache: true

    - name: Run rubocop
      run: bundle exec rake rubocop
